:root {
    --navheight:75px;
    --defaultborder:rgba(0, 0, 0, .15);
}

html, body {
    margin:0;
    height:100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    overflow:hidden;
}

body {
    background:#FAFAFA;
}

menu {
    margin:0;
    padding:0;
}

.definp {
    border:none;
    background:transparent;
    outline:0;
    padding:0;
    margin:0;
    font-size:1em;
}

.rn {
    height:calc(100vh - var(--navheight));
    width:100vw;
    z-index:2;
    overflow:scroll;
}

/* Queries */
@media only screen and (max-height:655px) {
    .gle-imagemodal {
        justify-content:flex-start!important;
    }

    .gle-imagemodal-mat {
        margin-top:25px!important;
    }
}