@import url('https://fonts.googleapis.com/css?family=Exo|Gothic+A1|Lato|Quicksand' );

:root {
    --navheight:75px;
    --expnavheight:45px;

    /* ----------------- */

  /*  --__color-l-m25w:rgba(255, 255, 255, .025);
    --__color-l-m5w:rgba(255, 255, 255, .05);
    --__color-l-1w:rgba(255, 255, 255, .1);
    --__color-l-2w:rgba(255, 255, 255, .2);
    --__color-l-3w:rgba(255, 255, 255, .3);
    --__color-l-4w:rgba(255, 255, 255, .4);
    --__color-l-5w:rgba(255, 255, 255, .5);
    --__color-l-6w:rgba(255, 255, 255, .6);
    --__color-l-7w:rgba(255, 255, 255, .7);
    --__color-l-8w:rgba(255, 255, 255, .8);
    --__color-l-9w:rgba(255, 255, 255, .9);
    --__color-l:white;

    --__color-d-m25w:rgba(0, 0, 0, .025);
    --__color-d-m5w:rgba(0, 0, 0, .05);
    --__color-d-1w:rgba(0, 0, 0, .1);
    --__color-d-2w:rgba(0, 0, 0, .2);
    --__color-d-3w:rgba(0, 0, 0, .3);
    --__color-d-4w:rgba(0, 0, 0, .4);
    --__color-d-5w:rgba(0, 0, 0, .5);
    --__color-d-6w:rgba(0, 0, 0, .6);
    --__color-d-7w:rgba(0, 0, 0, .7);
    --__color-d-8w:rgba(0, 0, 0, .8);
    --__color-d-9w:rgba(0, 0, 0, .9);
    --__color-d:black;

    --__color-sdark:#F3F3F3;
    --__color-searchlist:white;
    --__color-fpostcol:white;
    --__color-fpostauth:rebeccapurple;
    --__color-messagecol:#F4F4F4;
    --__color-messagecol-r:#D3F3F6;
    --glbgcol:#FAFAFA;
    --defaultborder:rgba(0, 0, 0, .15);
    --__color_special_-invert:0%;*/

    /* ----------------- */

    /* ----------------- */

    /*--__color-l-m25w:rgba(0, 0, 0, .025);
    --__color-l-m5w:rgba(0, 0, 0, .05);
    --__color-l-1w:rgba(0, 0, 0, .1);
    --__color-l-2w:rgba(0, 0, 0, .2);
    --__color-l-3w:rgba(0, 0, 0, .3);
    --__color-l-4w:rgba(0, 0, 0, .4);
    --__color-l-5w:rgba(0, 0, 0, .5);
    --__color-l-6w:rgba(0, 0, 0, .6);
    --__color-l-7w:rgba(0, 0, 0, .7);
    --__color-l-8w:rgba(0, 0, 0, .8);
    --__color-l-9w:rgba(0, 0, 0, .9);
    --__color-l:black;

    --__color-d-m25w:rgba(255, 255, 255, .025);
    --__color-d-m5w:rgba(255, 255, 255, .05);
    --__color-d-1w:rgba(255, 255, 255, .1);
    --__color-d-2w:rgba(255, 255, 255, .2);
    --__color-d-3w:rgba(255, 255, 255, .3);
    --__color-d-4w:rgba(255, 255, 255, .4);
    --__color-d-5w:rgba(255, 255, 255, .5);
    --__color-d-6w:rgba(255, 255, 255, .6);
    --__color-d-7w:rgba(255, 255, 255, .7);
    --__color-d-8w:rgba(255, 255, 255, .8);
    --__color-d-9w:rgba(255, 255, 255, .9);
    --__color-d:white;
    
    --__color-sdark:#2F2F2F;
    --__color-searchlist:#2F2F2F;
    --__color-fpostcol:#262626;
    --__color-fpostauth:aqua;
    --__color-messagecol:#2F2F2F;
    --__color-messagecol-r:#454646;
    --glbgcol:#1B1B1B;
    --defaultborder:rgba(255, 255, 255, .15);
    --__color_special_-invert:100%;*/

    /* ----------------- */
}

html, body {
    margin:0;
    height:100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    overflow:hidden;
}

body {
    background:var(--glbgcol);
}

menu {
    margin:0;
    padding:0;
}

#root {
    display:flex;
    flex-direction:column;
}

.definp {
    border:none;
    background:transparent;
    outline:0;
    padding:0;
    margin:0;
    font-size:1em;
}

.hidden {
    position:absolute;
    display:none;
    visibility:hidden;
    opacity:0;
    transition:all 99999999999999999 ease-in;
}

.rn {
    height:calc(100vh - var(--navheight));
    width:100vw;
    z-index:2;
    overflow:scroll;
}

.rn_nonav {
    height:100vh;
}

.gl-nav {
    z-index:8;
    /*
        Some pages will have 'out-fit' height value.
        Flexbox will stretch viewport divs to prevent page scroll.
        I want to prevent navigation height changing
    */
    flex-shrink:0;
    height:var(--navheight);
    width:100vw;
}

.glei-placeholder {
    position:relative;
    filter:invert(var(--__color_special_-invert));
}

.glei-placeholder.margin:not(.prevent) {
    --margin:5px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
}

.glei-placeholder.margin.prevent.ts {
    margin-top:10px;
}

.glei-placeholder.margin.l {
    margin-left:7.5px;
}

.glei-placeholder.margin.r {
    margin-right:7.5px;
}

.glei-placeholder.text {
    width:210px;
    max-width:100%;
    height:20px;
    border-radius:2.5px;
}

.glei-placeholder.text.value {
    height:30px;
    width:20px;
}

.glei-placeholder.text.lowh {
    height:12.5px;
    margin-right:2.5px;
}

.glei-placeholder.text.lowh.smb {
    margin-bottom:2.5px;
}

.glei-placeholder.text.one2 {
    width:50px;
}

.glei-placeholder.text.one3 {
    width:150px;
}

.glei-placeholder.text.one_max {
    width:100%;
}

.glei-placeholder.text.mb {
    margin-top:5px;
}

.glei-placeholder.text.bgh {
    height:40px!important;
}

.glei-placeholder.text.bgh_d {
    height:70px!important;
}

.glei-placeholder.big {
    width:100%;
    height:400px;
}

.glei-placeholder.fullparent {
    width:100%;
    height:100%;
}

.glei-placeholder.fullparent.w {
    height:inherit;
}

.glei-placeholder.avatar {
    --size:30px;

    height:var(--size);
    width:var(--size);
    border-radius:50%;
}

.glei-placeholder.avatar.parent {
    --size:100%;
}

.glei-placeholder.margintb {
    --margin:5px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
}

.glei-lspinner {
    --size:30px;

    display:block;
    margin-left:auto;
    margin-right:auto;
    height:var(--size);
    width:var(--size);
}

.glei-lspinner.margintb {
    --margin:10px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
}

.glei-lspinner.almparent {
    height:80%;
    width:inherit;
    object-fit:contain;
}

.glei-lspinner.blockcentered {
    display:block;
    margin:auto;
}

/* Media Queries */
@media only screen and (max-width:1020px) {
    .rn-direct-chat:not(.indialog) {
        display:none!important;
    }

    .rn-direct-conversations {
        width:calc(100vw - var(--convpadding) * 2 - 1px)!important;
    }

    .rn-direct-conversations.indialog {
        display:none!important;
    }
}

@media only screen and (max-width:850px) { /* WARNING: max stretch; */
    .rn-feed-more {
        display:none!important;
    }

    .rn-feed-mat {
        min-width:inherit!important;
    }

    .gle-post {
        max-width:calc(100vw - calc(var(--postpadding) * 2) - 15px)!important;
    }

    .gle-post-carousel-target {
        height:270px!important;
    }

    .gle-post-auth-desc {
        flex-wrap:wrap!important;
    }

    .gl-nav-logo-text {
        display:none!important;
    }

    .gl-nav-logo-bw {
        position:relative!important;
        bottom:-2px!important;
        opacity:.65!important;
    }

    .gle-newpost {
        overflow:scroll!important;
        height:auto!important;
        max-width:calc(100vw - var(--parpadding) * 2 - 15px)!important;
    }

    .gle-newpost-target-preview {
        --size:200px!important;

        margin-bottom:10px;
    }

    .gle-newpost > * {
        flex-shrink:0!important;
    }

    .gle-newpost-target {
        flex-direction:column!important;
        align-items:center!important;
    }

    .gle-newpost-target-data {
        margin:0!important;
    }

    .gle-imagemodal-mat {
        width:calc(100vw - 120px)!important;
        height:100vh!important;
    }

    .gle-imagemodal-mat > * {
        width:100%!important;
    }

    .gle-imagemodal-mat-info {
        --padidngud:15px;

        width:calc(100% - var(--padding) * 2)!important;
    }

    .gle-imagemodal-mat-image {
        --padding:20px!important;

        padding-top:var(--padding)!important;
        padding-bottom:var(--padding)!important;
        display:flex!important;
        align-items:center!important;
        justify-content:center!important;
    }

    .gle-imagemodal-mat-image-item:first-child > img,
    .gle-imagemodal-mat-image-item:first-child > video {
        max-width:100%!important;
        object-fit:contain!important;
        object-position:center!important;
    }

    .gle-imagemodal-mat {
        flex-direction:column!important;
    }
}

@media only screen and (max-height:655px) {
    .gle-imagemodal {
        justify-content:flex-start!important;
    }

    .gle-imagemodal-mat {
        margin-top:25px!important;
    }

    .rn-direct-chat-header {
        height:60px!important;
    }

    .rn-direct-chat-header-info-avatar {
        --size:42.5px!important;
    }
}


@media only screen and (max-width:655px) {
    #root {
        flex-direction:column-reverse!important;
    }

    .rn-feed-block {
        margin-top:15px!important;
    }

    :root {
        --navheight:60px!important;
    }

    .gl-nav {
        --paddinglr:10px;

        background:white!important;
        box-shadow:0px -1px 5px -1.5px rgba(0, 0, 0, .25)!important;
        padding:0!important;
        width:calc(100vw - var(--paddinglr) * 2)!important;
        padding-left:var(--paddinglr)!important;
        padding-right:var(--paddinglr)!important;
    }

    .gl-nav-searchnav-search {
        width:225px!important;
    }

    .gle-explosure_nav {
        display:flex!important;
    }

    .rn:not(.rn_nonav) {
        height:calc(100vh - var(--navheight) - var(--expnavheight))!important;
    }

    .gl-nav-tillexp {
        display:none!important;
    }

    .gl-nav-search-results {
        --dgap:15px;

        top:calc(var(--dgap) * -1)!important;
        bottom:inherit!important;
        transform:translateY(-100%)!important;
        width:100%!important;
        max-height:calc(100vh - var(--navheight) - var(--expnavheight) - var(--dgap))!important;
        left:0!important;
        margin-right:inherit!important;
        background:white!important;
        overflow:scroll!important;
    }

    .gl-nav-routes-btn-window.notifications {
        position:fixed!important;
        top:-15px!important;
        bottom:inherit!important;
        transform:translateY(-100%)!important;
        left:0!important;
        height:auto!important;
        height:10000px!important;
        z-index:20;
        max-height:calc(100vh - var(--navheight) - var(--expnavheight))!important;
        padding:0;
        overflow:scroll;
        width:calc(100vw - 2px)!important;
    }

    .gl-nav-routes-btn-window.notifications:before {
        display:none!important;
    }

    .gl-nav-search-results:before {
        display:none!important;
    }

    .rn-account-info {
        margin-top:25px!important;
    }

    .rn-account-info {
        flex-direction:column!important;
        align-items:center!important;
    }

    .rn-account-info-mat {
        justify-content:center!important;
    }

    .rn-account-info-mat-stats-item {
        --margin:10px!important;

        margin-left:var(--margin)!important;
        margin-right:var(--margin)!important;
    }

    .rn-account-info-mat-name,
    .rn-account-info-mat-stats,
    .rn-account-info-description {
        justify-content:center!important;
    }

    .rn-account-info-mat-name {
        margin-top:15px!important;
    }

    .rn-account-info-realname,
    .rn-account-info-description {
        text-align:center!important;
    }

    .rn-account-info-mat-stats,
    .rn-account-info-realname,
    .rn-account-info-description {
        width:100%!important;
        padding-left:0!important;
        padding-right:0!important;
    }
}

@media only screen and (max-width:500px) {
    .gl-nav-routes-btn {
        --margin:12.5px!important;
    }

    .gl-nav-searchnav-search {
        display:none!important;
    }

    .gl-nav-searchnav {
        justify-content:space-around!important;
        width:100%;
    }

    .gle-imagemodal-mat {
        width:calc(100vw - 20px)!important;
        height:100vh!important;
    }
}

@media only screen and (max-width:410px) {
    .rn-account-posts-item-hover-stats {
        --margin:0px!important;
        font-size:.75rem!important;
    }
}