:root {
    --navheight:75px;
}

html, body {
    margin:0;
    height:100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    background:#FAFAFA;
}

.definp {
    border:none;
    outline:0;
    padding:0;
    margin:0;
    font-size:1em;
}

.rn {
    height:calc(100vh - var(--navheight));
    width:100vw;
}