.gle-post-commentitem {
    --margin:5px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-between;
}

/*.gle-post-commentitem-content {
    display:flex;
    align-items:flex-start;
} */

.gle-post-commentitem-content-name {
    font-weight:500;
    margin-right:5px;
    font-size:.95rem;
    white-space:nowrap;
}

.gle-post-commentitem-content-mat {
    font-weight:400;
    font-size:.9rem;
}

.gle-post-commentitem-content-mat > * {
    --margin:3px;

    margin-left:var(--margin);
    margin-right:var(--margin);
}

.gle-post-commentitem-content-mat > a {
    color:rebeccapurple;
    text-decoration:none;
}

.gle-post-commentitem-content-mat > a:hover {
    text-decoration:underline;
}

.gle-post-commentitem-like {
    font-size:.75rem;
    color:rgba(0, 0, 0, .5);
    cursor:pointer;
    margin-left:20px;
    transition:.1s;
}

.gle-post-commentitem-like.liked {
    color:red;
}

.gle-post-commentitem-like:active {
    transform:scale(.9);
}
