.gle-explosure_nav {
	--padding:15px;

	padding-left:var(--padding);
	padding-right:var(--padding);
	height:var(--expnavheight);
	display:none;
	align-items:center;
	width:calc(100vw - var(--padding) * 2);
	background:white;
	box-shadow:2px 0px 10px 0px rgba(0, 0, 0, .15);
	z-index:8;
	justify-content:space-between;
}