.gl-nav {
    --padding:45px;

    padding-left:var(--padding);
    padding-right:var(--padding);
    width:calc(100vw - var(--padding) * 2);
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:var(--glbgcol);
}

.gl-nav-logo {
    display:flex;
    align-items:center;
    cursor:pointer;
}

.gl-nav-logo-bw {
    --margin:7.5px;

    height:27.5px;
    margin-right:var(--margin);
}

.gl-nav-logo-text {
    height:37.5px;
    position:relative;
    bottom:-1.5px;
    margin-left:var(--margin);
}

.gl-nav-searchnav {
    display:flex;
    align-items:center;
    z-index:15;
}

.gl-nav-routes {
    display:flex;
    align-items:center;
}

.gl-nav-routes-btn {
    position:relative;
}

.gl-nav-routes-btn,
.gl-nav-routes-btn * {
    outline:0;
}

.gl-nav-routes-btn:not(.local),
.gl-nav-routes-btn-mat {
    font-size:1.55em;
    color:rgba(0, 0, 0, .65);
    cursor:pointer;
}

.gl-nav-routes-btn-mat {
    position:relative;
    bottom:-.5px;
}

.gl-nav-routes-btn-window {
    --arrowdist:45px;
    --arrowsize:20px;
    --boxsh:0px 0px 15px -5px rgba(0, 0, 0, .25);
    --brr:1px solid rgba(0, 0, 0, .1);

    height:360px;
    width:500px;
    background:white;
    box-shadow:var(--boxsh);
    border:1px solid rgba(0, 0, 0, .15);
    border-radius:2.5px;
    position:absolute;
    right:calc(var(--arrowdist) * -1);
    bottom:calc(var(--arrowsize) * -1 + 2.5px);
    border:var(--brr);
    transform:translateY(100%);
    z-index:501;
}

.gl-nav-routes-btn-window {
    display:none;
}

.gl-nav-routes-btn-window.active {
    display:block;
}

.gl-nav-routes-btn-window:before {
    content:'';
    position:absolute;
    height:var(--arrowsize);
    width:var(--arrowsize);
    background:white;
    box-shadow:var(--boxsh);
    z-index:-1;
    border-radius:2.5px;
    right:var(--arrowdist);
    top:calc(var(--arrowsize) / 2 * -1);
    transform:translateX(calc(25% - 6px)) rotate(45deg);
    border:var(--brr);
}

.gl-nav-routes-btn-window-list {
    height:100%;
    width:100%;
    overflow:scroll;
    position:relative;
    background:white;
}

.gl-nav-routes-btn-window-list-item {
    --padding:15px;
    --brr:1px solid rgba(0, 0, 0, .1);

    height:65px;
    padding-left:var(--padding);
    padding-right:var(--padding);
    width:calc(100% - var(--padding) * 2);
    display:flex;
    align-items:stretch;
}

.gl-nav-routes-btn-window-list-item:last-child {
    --brr:none;
}

.gl-nav-routes-btn-window-list-item-info {
    display:flex;
    align-items:stretch;
    width:100%;
    flex-shrink:1;
}

.gl-nav-routes-btn-window-list-item-info-image {
    width:45px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    position:relative;
    flex-shrink:0;
}

.gl-nav-routes-btn-window-list-item-info-image > img {
    --size:32.5px;

    height:var(--size);
    width:var(--size);
    border-radius:50%;
    border:1px solid rgba(0, 0, 0, .1);
    object-fit:cover;
    object-position:center;
}

.gl-nav-routes-btn-window-list-item-info-mat {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    border-bottom:var(--brr);
    width:100%;
}

.gl-nav-routes-btn-window-list-item-info-mat-auth {
    font-family:inherit;
    font-weight:500;
    color:black;
    font-size:.925rem;
    letter-spacing:-.225px;
}

.gl-nav-routes-btn-window-list-item-info-mat-content {
    display:flex;
    align-items:center;
}

.gl-nav-routes-btn-window-list-item-info-mat-content > * {
    --margin:1px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
}

.gl-nav-routes-btn-window-list-item-info-mat-content-event {
    font-weight:300;
    font-family:"Arial";
    font-size:.95rem;
    color:rgba(0, 0, 0, .85);
}

.gl-nav-routes-btn-window-list-item-info-mat-content-time {
    font-size:.975rem;
    color:rgba(0, 0, 0, .45);
    margin-left:5px;
}

.gl-nav-routes-btn-window-list-item-actions {
    flex-shrink:0;
    display:flex;
    align-items:center;
    border-bottom:var(--brr);
}

.gl-nav-routes-btn-window-list-item-route {
    margin:0;
}

.gl-nav-search-results,
.gl-nav-search-results-list,
.gl-nav-search-results:before {
    border-radius:2.5px;
}

.gl-nav-search-results {
    --arrowsize:15px;
    --bxsh:0px -.5px 12.5px -5px rgba(0, 0, 0, .45);
    --borders:1px solid var(--defaultborder);
    --trans:.25s;

    width:calc(100% + 15px);
    height:auto;
    position:absolute;
    bottom:calc(var(--arrowsize) * -1 - 5px);
    left:50%;
    margin-right:50%;
    transform:translate(-50%, 100%);
    z-index:15;
    box-shadow:var(--bxsh);
    border:var(--borders);
    opacity:0;
    visibility:hidden;
    transition:all var(--trans), visibility var(--trans);
}

.gl-nav-search-results.active {
    transition:all var(--trans), visibility 0s;
    opacity:1;
    visibility:visible;
}

.gl-nav-search-results-list {
    height:auto;
    max-height:360px;
    width:100%;
    background:white;
    z-index:15;
    display:flex;
    overflow:scroll;
    flex-direction:column;
    align-items:stretch;
}

.gl-nav-search-results-list > * {
    flex-shrink:0;
}

.gl-nav-search-results:before {
    content:'';
    position:absolute;
    border:var(--borders);
    height:var(--arrowsize);
    width:var(--arrowsize);
    z-index:-1;
    box-shadow:var(--bxsh);
    top:calc(var(--arrowsize) / 2 * -1);
    background:white;
    left:50%;
    margin-right:50%;
    transform:translateX(-50%) rotate(45deg);
}

.gl-nav-search-results-item {
    --padding:15px;

    height:calc(65px - var(--padding) * 2);
    width:calc(100% - var(--padding) * 2);
    padding:var(--padding);
    cursor:pointer;
    background:white;
    border-bottom:1px solid rgba(0, 0, 0, .05);
    display:flex;
    align-items:stretch;
}

.gl-nav-search-results-item:hover {
    background:#fafafa;
}

.gl-nav-search-results-item-image {
    width:45px;
    flex-shrink:1;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}

.gl-nav-search-results-item-image-mat {
    --size:35px;

    height:var(--size);
    width:var(--size);
    border-radius:50%;
    object-fit:cover;
    object-position:center;
}

.gl-nav-search-results-item-image-hashtag {
    font-size:2em;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    left:-3.5px;
    font-size:1.75rem;
    opacity:.35;
    /* background:linear-gradient(-135deg, orange, blue); */
    /* background:linear-gradient(-135deg, #ED4C7D, #F9C132); */
}

.gl-nav-search-results-item-image-hashtag:before,
.gl-nav-search-results-item-image-hashtag:after {
    --bahashcol:linear-gradient(-135deg, #ED4C7D, #F9C132);

    content:'#';
    background:var(--bahashcol);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    position:absolute;
    top:0;
    left:0;
    transform:translate(-50%, -50%);
    transition:.25s;
}

.gl-nav-search-results-item-image-hashtag:after {
    --bahashcol:linear-gradient(-135deg, orange, blue);
    opacity:0;
}

.gl-nav-search-results-item:hover .gl-nav-search-results-item-image-hashtag:before {
    opacity:0;
}

.gl-nav-search-results-item:hover .gl-nav-search-results-item-image-hashtag:after {
    opacity:1;
}

.gl-nav-search-results-item-info {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

.gl-nav-search-results-item-info > * {
    --margin:1.5px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
}

.gl-nav-search-results-item-info-name {
    font-size:.95rem;
    font-weight:500;
    font-family:"Arial";
    color:rgba(0, 0, 0, .85);
}

.gl-nav-search-results-item-info-more {
    font-size:.9rem;
    font-weight:400;
    font-family:"Arial";
    color:rgba(0, 0, 0, .45);
}

.gl-nav-searchnav {
    position:absolute;
    left:50%;
    margin-right:50%;
    transform:translateX(-50%);
}

.gl-nav-searchnav-search {
    width:245px;
    height:37.5px;
}

.gl-nav-searchnav > * {
    --margin:15px;

    margin-left:var(--margin);
    margin-right:var(--margin);
}

.gl-nav-searchnav-search-mat {
    --padding:10px;

    height:100%;
    padding-left:var(--padding);
    padding-right:var(--padding);
    border-radius:2.5px;
    width:100%;
    margin-top:25px;
    margin-bottom:45px;
    background:#F3F3F3;
    font-size:.925rem;
    text-align:center;
    color:rgba(0, 0, 0, .5);
    margin:0;
}

.gl-nav-searchnav-search-mat:focus {
    color:rgba(0, 0, 0, .9);
    text-align:left;
}

.gl-nav-morenav {
    display:flex;
    align-items:center;
}

.gl-nav-morenav > * {
    margin-left:7.5px;
}
