.gl-nav {
    height:var(--navheight);
    width:100vw;
    background:white;
    display:flex;
    align-items:center;
    border-bottom:2px solid rgba(0, 0, 0, .075);
    justify-content:space-around;
    z-index:8;
    /* 
        Some pages will have 'out-fit' height value.
        Flexbox will stretch viewport divs to prevent page scroll.
        I want to prevent navigation height changing
    */
    flex-shrink:0;
}

.gl-nav-logo {
    display:flex;
    align-items:center;
    position:relative;
    cursor:pointer;
    flex-shrink:0;
}

.gl-nav-logo-image {
    position:relative;
}

.gl-nav-logo-image > img {
    height:100%;
}

.gl-nav-logo-bwlogo {
    height:27.5px;
}

.gl-nav-logo-textlogo {
    height:35px;
    /* source image correction */
    bottom:-2px;
    /* source image correction */
}

.gl-nav-logo-split {
    --margin:10px;

    margin-left:var(--margin);
    margin-right:var(--margin);
    height:30px;
    width:1px;
    background:rgba(0, 0, 0, .95);
}

.gl-nav-search {
    --brd:2.5px;

    height:27.5px;
    width:195px;
    border-radius:var(--brd);
    background:white;
    border:1px solid rgba(0, 0, 0, .15);
    position:relative;
}

.gl-nav-search:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    margin-right:50%;
    transform:translate(-50%, -50%);
    height:100%;
    width:100%;
    opacity:0;
    z-index:0;
    border-radius:var(--brd);
    border:2px solid rgba(0, 0, 255, .75);
}

.gl-nav-search:focus:before {
    animation:gl-nav-search-focus-foutline-am .5s ease-in-out;
}

.gl-nav-search > * {
    position:relative;
    z-index:1;
}

@keyframes gl-nav-search-focus-foutline-am {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.gl-nav-search,
.gl-nav-search *:not(input) {
    outline:0;
}

.gl-nav-search-placeholder {
    height:100%;
    width:100%;
    background:#FAFAFA;
    font-weight:200;
    font-family:"Arial";
    font-size:.875rem;
    color:rgba(0, 0, 0, .45);
    cursor:text;
    display:flex;
    align-items:center;
    justify-content:center;
}

.gl-nav-search-placeholder > * {
    --margin:5px;

    margin-left:var(--margin);
    margin-right:var(--margin);
}

.gl-nav-search-mat {
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
}

.gl-nav-search-mat-icon {
    width:22.5px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:.75rem;
    color:rgba(0, 0, 0, .25);
    flex-shrink:0;
}

.gl-nav-search-mat-input {
    --paddingr:5px;

    width:calc(100% - var(--paddingr));
    padding-right:var(--paddingr);
    height:calc(100% - 2.5px);
    flex-shrink:1;
    font-size:.85rem;
}

.gl-nav-search-results,
.gl-nav-search-results-list,
.gl-nav-search-results:before {
    border-radius:2.5px;
}

.gl-nav-search-results {
    --arrowsize:15px;
    --bxsh:0px -.5px 12.5px -5px rgba(0, 0, 0, .45);
    --borders:1px solid var(--defaultborder);

    width:calc(100% + 15px);
    height:auto;
    position:absolute;
    bottom:calc(var(--arrowsize) * -1 - 5px);
    left:50%;
    margin-right:50%;
    transform:translate(-50%, 100%);
    z-index:15;
    box-shadow:var(--bxsh);
    border:var(--borders);
}

.gl-nav-search-results-list {
    height:auto;
    max-height:360px;
    width:100%;
    background:white;
    z-index:15;
    display:flex;
    overflow:scroll;
    flex-direction:column;
    align-items:stretch;
}

.gl-nav-search-results-list > * {
    flex-shrink:0;
}

.gl-nav-search-results:before {
    content:'';
    position:absolute;
    border:var(--borders);
    height:var(--arrowsize);
    width:var(--arrowsize);
    z-index:-1;
    box-shadow:var(--bxsh);
    top:calc(var(--arrowsize) / 2 * -1);
    background:white;
    left:50%;
    margin-right:50%;
    transform:translateX(-50%) rotate(45deg);
}

.gl-nav-search-results-item {
    --padding:15px;
    
    height:calc(65px - var(--padding) * 2);
    width:calc(100% - var(--padding) * 2);
    padding:var(--padding);
    cursor:pointer;
    background:white;
    border-bottom:1px solid rgba(0, 0, 0, .05);
    display:flex;
    align-items:stretch;
}

.gl-nav-search-results-item:hover {
    background:#fafafa;
}

.gl-nav-search-results-item-image {
    width:45px;
    flex-shrink:1;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}

.gl-nav-search-results-item-image-mat {
    --size:35px;

    height:var(--size);
    width:var(--size);
    border-radius:50%;
    object-fit:cover;
    object-position:center;
}

.gl-nav-search-results-item-image-hashtag {
    font-size:2em;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    left:-3.5px;
    font-size:1.75rem;
    opacity:.35;
    /* background:linear-gradient(-135deg, orange, blue); */
    /* background:linear-gradient(-135deg, #ED4C7D, #F9C132); */
}

.gl-nav-search-results-item-image-hashtag:before,
.gl-nav-search-results-item-image-hashtag:after {
    --bahashcol:linear-gradient(-135deg, #ED4C7D, #F9C132);

    content:'#';
    background:var(--bahashcol);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    position:absolute;
    top:0;
    left:0;
    transform:translate(-50%, -50%);
    transition:.25s;
}

.gl-nav-search-results-item-image-hashtag:after {
    --bahashcol:linear-gradient(-135deg, orange, blue);
    opacity:0;
}

.gl-nav-search-results-item:hover .gl-nav-search-results-item-image-hashtag:before {
    opacity:0;
}

.gl-nav-search-results-item:hover .gl-nav-search-results-item-image-hashtag:after {
    opacity:1;
}

.gl-nav-search-results-item-info {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

.gl-nav-search-results-item-info > * {
    --margin:1.5px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
}

.gl-nav-search-results-item-info-name {
    font-size:.95rem;
    font-weight:500;
    font-family:"Arial";
    color:rgba(0, 0, 0, .85);
}

.gl-nav-search-results-item-info-more {
    font-size:.9rem;
    font-weight:400;
    font-family:"Arial";
    color:rgba(0, 0, 0, .45);
}

.gl-nav-routes {
    display:flex;
    align-items:center;
}

.gl-nav-routes-btn {
    --margin:12.5px;

    margin-left:var(--margin);
    margin-right:var(--margin);
    font-size:1.55em;
    color:rgba(0, 0, 0, .65);
    cursor:pointer;
}